[Desktop Entry]
Type=Application
Name=yMusic
GenericName=Music Player
Comment=A native YouTube Music player
Exec={{exec}} %U
Icon={{icon}}
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;youtube;player;audio;
StartupNotify=true
StartupWMClass=yMusic
MimeType=x-scheme-handler/ymusic;
